body{
    font-family: georgia, times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
}
p {
    margin-bottom: 1.6em;
}
h1{
    line-height: 1.3em;
    font-size:2rem 
}
.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}
header{
     background: rgb(226, 218, 105);
     color: darkgray;
     padding: 2rem 0;

}
.header a{
    color: white;
    text-decoration: none;
}
.logo-navContanier{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul li{
    display: inline-block;
}
.navigation ul li a{
    display:block;
    padding: 0.5rem 1rem ;
    transition: all 0,4s;
    border-radius: 5px;
}
.navigation ul li a:hover{
    background: rgb(204, 185, 185);
}
